/* paleta de cores em hexa

#212529


#c288ff

#a16ef6

#8054ee

#5f39e5

#3e1fdd

*/

/* area dos imports*/ 

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

@import url('https://fonts.cdnfonts.com/css/special-elite');

/* custons globais */

body {
    color: #fff;
    background: #212529;
    font-family: 'Special Elite', sans-serif;
}

.title-c{
    color: #5f39e5;
    font-weight: bold;
}

.title-s-c {
    color: #a16ef6;
}

.btn-projetos{
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

.btn-projetos:hover{
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.btn-projetos:active{
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}


.btn-projetos-branco{
    color: #fff;
}

.zoom {
    transform: scale(1.05);
    box-shadow:
        0px 0px 37.5px rgba( 95, 57, 229, 0.624),
        0px 0px 82px rgba( 95, 57, 229, 0.82);
}

#intro, #slides, #criador, #habilidades, #analista,#cientista, #front, #bibliotecas{
    scroll-margin-top: 100px;
    scroll-behavior: smooth;
}

/* custons header/navbar */

.bg-navbar {
    font-family: 'Special Elite', sans-serif;
    background:linear-gradient(90deg , #5f39e5, #8054ee, #a16ef6);
}

.navbar-link {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.5s;
    font-family: 'Special Elite', sans-serif;
}

.navbar-link:hover {
    color: #000000;
}





/* aside nav */

.aside-link {
    color: #ffffff;
    transition: all 0.5s;
}

.color-icon {
    background-color: #a16ef6;
}

.aside-link:hover {
    color: #a16ef6;
}

.aside-c{
    color: #fff;
    background: #212529;
}





/* Introdução/apresentação */

.link-c{
    color: #5f39e5;
    text-decoration: none;
    transition: all 0.5s;
}

.link-c:hover{
    color: #a16ef6;
}

/* footer */

.footer-c {
    background: #181717;
    color: #4b4a4a;
}

.version{
    color: #8054ee;
}

.footer-btn-c {
    border: 1px solid #606060;
    border-radius: 15px;
    background: #606060;
    transition: all 0.7s ease;
}

.btn-icon {
    color: #ffffff;
}